.masthead
  .wrapper
    %h2.header.center Track your inventory with <span class="logo">Beacon</span>
    = form_tag signup_path, method: :get, class: 'row' do
      .input-field.col.m10.s8
        %input.white-text#name{type: 'text', name: 'account[name]'}
        %label.white-text{for: 'name'} Your Company Name
      %input.waves-effect.waves-light.blue-text.btn.col.m2.s4{type: 'submit', value: 'Get Started'}
