.main
  .wrapper
    .checkout.section.center
      %h3.header.center Beacon
      %h6.header.center Inventory management for <span class="bold">Freeman</span>
      .row
        .input-field.col.s12
