/ Modal Structure
#modal1.modal
  .modal-content
    = form_for :item, url:create_item_path do |f|
      .input-field
        = f.text_field :name
        %label{for: 'item_name'} Name
      = f.submit 'Submit', class: 'waves-effect waves-light btn'


%h1 Dashboard
%ul.collection
  %li.collection-item.dismissable
    %div
      Alvin
      %a.secondary-content{:href => "#!"}
        %i.material-icons send
  %li.collection-item.dismissable
    %div
      Alvin
      %a.secondary-content{:href => "#!"}
        %i.material-icons send
  %li.collection-item.dismissable
    %div
      Alvin
      %a.secondary-content{:href => "#!"}
        %i.material-icons send
  %li.collection-item.dismissable
    %div
      Alvin
      %a.secondary-content{:href => "#!"}
        %i.material-icons send


/ Modal Trigger
%a.waves-effect.waves-light.btn{:href => "#modal1"} Modal
