/ Modal Structure
#modal1.modal
  .modal-content
    = form_for :item, url:create_item_path do |f|
      .input-field
        = f.text_field :name
        %label{for: 'item_name'} Name
      = f.submit 'Submit', class: 'waves-effect waves-light btn'

/ Modal Trigger
%a.waves-effect.waves-light.btn{:href => "#modal1"} Modal


.items
  .container
    %ul.collection
      - @items.each do |i|
        %li.collection-item.dismissable
          = i.name
          %div
            %a.secondary-content{:href => "#!"}
              %i.material-icons send
