// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-color: #2980B9 !default;

.main {
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.bold {
  font-weight: bold;
}

.wrapper.section {
  width: 250px;
  margin: auto;

  .header {
    color: $primary-color;
  }

  h3.header {
    opacity: 0.8;
    transition: 0.15s ease-in-out;
    padding: 7px;
    margin: auto;
    margin-bottom: 1rem;
    display: inline-block;

    background: $primary-color;
    color: #fff;

    &:hover {
      opacity: 1;
    }
  }

  h5.header {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
  }

  .input-field {
    width: 100%;
  }

  .employee {
    display: none;
  }

  .btn {
    width: 100%;
  }
}
